<link rel="stylesheet" href="login.component.css">

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="formulario">
    <h1>Spectrum.</h1>
    <form action="">
      <p class = "uptext"> E-mail:</p>
      <input class="loginemail" type="text" name="" placeholder="Digite seu E-mail" id="">
      <p class = "uptext"> Senha:</p>
      <input class="loguinsenha" type="text" name="" placeholder="Digite sua Senha" id="">
    </form>
    <a class="forget" href="#">Esqueci a minha senha</a> <br/>
    <input type="button" value="Entrar" onclick= "window.location.href = 'http://localhost:4200/painel';">
  </div>
</body>
</html>
