<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Painel</title>
  <link rel="stylesheet" href="painel.component.css">

</head>
<body>
<div class="container">
  <div class= "painelsuperior">
    <h1 class="logo">Spectrum.</h1>
    <input class="pesquisarsup" type="text" placeholder=" Pesquisar... ">
    <img class="imgsup" src="assets/pp.jpg" alt="">
    <nav class="menusuperior">
      <ul>
        <li><a href="">Douglas de Lima <i class="fas fa-chevron-down"></i></a>
          <ul class="submenu">
            <li><a href="">Seu Perfil</a></li>
            <li><a href="">Configurações</a></li>
            <li><a href="">Sair</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class= "container">
    <div class="painellateral" style="width: 220px;" >
     <nav class="pan">
      <ul >
          <li style="padding: 12px;">
            <i class="fas fa-house-user"></i><a href=""> Inicio</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-paste"></i><a href=""> Relatórios</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-envelope"></i><a href=""> Mensagens</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-sticky-note"></i><a href=""> Contratos</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-users"></i><a href=""> Alunos</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-comment-dots"></i><a href=""> Chats</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-calendar-minus"></i><a href=""> Agenda</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-info-circle"></i><a href=""> Suporte</a>
          </li>
          <li style="padding: 12px;">
            <i class="fas fa-cog"></i><a href=""> Configurações</a>
          </li>
      </ul>
     </nav>
  </div>
 </div>



<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
</body>
</html>
